<header>
    <h1 class="logo">Studio BodyArt</h1>
    <h2 class='logo'>Lamenkazú</h2>

    <nav>
        <ul> 
            <li><a href="/funcionarios">Lista de Funcionarios</a></li>
            <li><a href="/cadastroFuncionario">Inserir Novo Funcionario</a></li>
            <li><a href="/cadastroCliente">Inserir Novo Cliente</a></li>
            <li><a href="/clientes">Lista de Clientes</a></li>
            <li><a href="/sessoes">Sessões Agendadas</a></li>
            <li><a href="/login/historico">Historico de Logins</a></li>

        </ul>
    </nav>
</header>